<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tweak.just.miniplayer">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniPlayer">

        <!-- 메인 액티비티 위치 변경 반영 (Android 12 이상 대응) -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 재생 액티비티 등록 -->
        <activity android:name=".ui.player.PlayerActivity" />
    </application>

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>



</manifest>
